.div1 {
    margin-top: 3%;
    margin-left: : 10%;
    position: static;
    background-color: #9999FF;
    opacity: 80%;
    height: 200px;
}

.textdiv {
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
    height: 50px;
    width: 200px

}

.div2 {
    background-color: #fff;
    height: 400px;
}

body {

      background-image: url("bg_splash.jpg");
      background-position: center top;
      background-repeat: no-repeat;
}


.boxed {

    border-width: thin;
    border-color: grey;
    width: 600px;
    height: 650px;
    box-shadow: 5px 10px 20px -6px black;
    position: relative;
    margin-top: 1%;
    margin-left: 35%;
    border-radius: 10px;

    }

.editoptions {
margin: 5%;
position: relative;

height: 50px;
width: 600px;
}

.thelist {
  position: relative;
  margin-top: 20%;
  margin left: 20%;
}

table {
margin-left: 5%;
}
